{% extends 'base.html' %}

      {% block title%}
    <title>Login</title>
      {% endblock title%}

    {% block body%}

    {% for message in messages%}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
    {% endfor %}


    <h1 class="text-center my-4">Login Form</h1>
<div class="container" py-3>
      <form class="row g-3" action="login" method="POST">
          {% csrf_token %}

          <div class="col-12">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Baidya">
          </div>
          <div class="col-md-12">
            <label for="pass1" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass1" name="password" placeholder="****">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">LogIn</button>
          </div>
      </form>
</div>

    {% endblock body%}