{% extends 'base.html' %}

      {% block title%}
    <title>Home Page</title>
      {% endblock title%}

    {% block body%}
    <h1 class="text-center">Post Blog</h1>
    <div class="container">
        <form action="post_blog" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>

            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
            </div>
            <input type="submit" value="Post" class="btn btn-primary">
        </form>
    </div>

    {% endblock body%}